    body{
        font-family: "Oswald";
    
    }
    .header{
        background-color: #FFF8F3;
        background-image: url(../portfolio-resources-main/images/header_bg.png) , url(../portfolio-resources-main/images/developer.png) ;
        background-position: right bottom , left;
        background-repeat: no-repeat;
        background-size: 500px , 60px;
        background-position-x: right , 70px;
        margin-top: 50px;
    }

/*common style*/

    .text-primary{
        color: #f46906;
    }

    .section-title{
        text-align: center;
        font-weight: 700;
        font-size: 35px;
        color: #181818;
    }

    
/*nav related css*/
    nav{
        display: flex;
        justify-content: space-between;/*mary r (portfolio,blog,hire me) ai 2 ta k 2 side e niye jete jusfity-content tag use kora hoy.space between r space around 2 ta diyei same kaj kora jay.*/
        align-items: center; /*mary,portfolio , blog,hire me sobgulake same line e ante ai tag use kora hocce*/
        margin: 0px 200px;
    }

    .nav-title{
        color: #181818;
        font-weight: 800;
        font-size: 45px;
    }

    
    nav > ul{
        display: flex;
        align-items: center; /*portfolio,blog,hire me ai 3 ta k ak line e ante ai tag use kora hoy.*/
    }

    nav li{
        list-style: none;
        margin-right: 50px;
    }
    /*akhane > sign use kora jabe na . use korle nav er por emidiate j 1st li ta ace oitar upor css apply hbe bakigulor upor apply hobe na .*/

    nav a{
        text-decoration: none;
        color: #474747;
    }/*text decoration use korar khettre shudu a attribute er upor css apply korte hobe.onno kono attribute er upor text-decoration css apply hoy na*/ 

    .btn-primary{
        border-radius: 5px;
        background-color: #f46906;
        border: 0;
        padding: 18px 36px ;
        color: #fdfcfb;
    }

/*banner related design*/
    .banner{
        padding: 30px 30px 0px 150px;
        display: flex;
        justify-content: space-between;
    }

    .profile-pic{
        width: 300px;
        padding-bottom: 0px;
        
    }

    .banner-greeting{
        color: #474747;
        margin-bottom: 0;
    }

    .banner-title{
        margin-top: 5px;
    }

    .banner-all{
        margin-left: 52px;
    }

/*main section style*/

    /*about section style*/
        .about{
            padding: 130px;
            background: #FFF8F3;
            border-radius: 10px;
            margin-top:100px !important;
            margin: 130px;
        }

        .section-discription{
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #757575;
        }

    /*about-info style*/
        .about-info-container{
            display: flex;
            justify-content: space-between;
        }
        .info-title{
            text-align: center;
            color: #757575;
            font-weight: 400;
            font-size: 15px;
            line-height: 10px;
            margin-bottom: 0px;
        }
        .info-discription{
            margin-top: 0px;
        }

    /*what i do style*/
        .what-i-do{
            margin: 30px 345px;
            color: #757575;
            text-align: center;
        }
        .skill-container{
            display: flex;
            /* j sob div e disply hisabe flex use kora hoy sekhane div gulor majhkhane faka jaygar jonno gap attribute use kora jay   gap:50px  tahole div gulor moddhe 50px gap toiri hobe. gap atttibute apply er khettre mone rakhte hobe j display:flex j class e thakbe gap o sei flex e rakhte hobe*/
        }
        .skill{
            margin: 24px;
            background: #FFFFFF;
            box-shadow: 0px 6px 50px  rgba(0, 0, 0, 0.406);
            border-radius: 5%;
            
        }
        #skill-one{
           margin-left: 200px !important;
        }
        #skill-forth{
            margin-right: 150px !important;
         }
        .skill-discription{
            color: #757575;
            padding: 30px;
            padding-top: 0px;
        }
        .skill-title{
            padding: 20px;
            padding-top: 0px;
        }
        img{
            padding: 20px;
        }

    /* resume style */
        .resume-conteiner{
            display: flex;
            gap: 71px;
            
        }
        #first-half{
            margin-left: 230px;
        }
        #second-half{
            margin-right: 230px;
        }
        .resume-column-title{
            font-weight: 700;
            font-size: 30px;
            line-height: 61px;
            color: #474747;
        }
        .resume-item-title{
            font-weight: 700;
            font-size: 25px;
            line-height: 17px;
            color: #474747;
        }
        .resume-item-institution{
            font-weight: 600;
            font-size: 20px;
            line-height: 17px;
            color: #757575;
        } 
        .resume-item-discription{
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            color: #757575;
        }
        .resume-conteiner hr{
            margin: 30px;
        }
        .dawnload-cv{
            text-align: center;
            margin-top: 50px;
        }


/* footer related style */
    
    footer{
        display: flex;
        gap: 50px;
        margin-top: 100px;
        background-color:#FFF8F3 ;
        padding: 130px 200px;
    }
    .footer-column{
        width: 50%;
    }
    .contact input[type="text"] , .contact input[type="email"] , textarea{
        /* akhane input er por j type lakha hoyece sekhane kono space daoya jabe na tahole stule kaj korbe na. */
        display: block;
        margin-bottom: 25px;
        padding: 18px 35px;
        color: #757575;
        border-radius: 5px;
        background: #FFF;
        border: 0px;
        width: 100%;
    }
